Django>=5.0.2
djangorestframework>=3.14.0
mysqlclient>=2.2.0
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7
pillow>=10.0.0
django-filter>=23.3
xlwt>=1.3.0
requests>=2.31.0
python-dateutil>=2.8.2
django-cors-headers>=4.3.0
